<div class="container" style="width: 50%; float: left">
  <h2>Especialidades</h2>
  <ul class="list-group">
    <li class="list-group-item">Acupuntura</li>
    <li class="list-group-item">Urologia</li>
    <li class="list-group-item">Nefrologia</li>
    <li class="list-group-item">Cardio</li>
    <li class="list-group-item">Ortopedia</li>
    <li class="list-group-item">Dermatologia</li>
    <li class="list-group-item">Cirurgia</li>
    <li class="list-group-item">Anestesia</li>
    <li class="list-group-item">Oftamologia</li>
    <li class="list-group-item">Diagnóstico por magem com o focus diagnóstico </li>
  </ul>
</div>

<div style="margin-top: 300px">
	
	<img src="img/gatoEcachorro.jpg" class="img-responsive" alt="Responsive image">

</div>

