<div class="container" style="width: 50%; float: left">
  <h2>Serviços</h2>
  <ul class="list-group">
    <li class="list-group-item">Consulta clinica</li>
    <li class="list-group-item">Consulta especializada nas diversas áreas</li>
    <li class="list-group-item">Atendimento Emergencial 24H</li>
    <li class="list-group-item">Cirurgia Geral</li>
    <li class="list-group-item">Cirurgia Ortopédica</li>
    <li class="list-group-item">Internamento enfermaria</li>
    <li class="list-group-item">Internamento quarto(com a presença de tutor)</li>
    <li class="list-group-item">Semi intensivo</li>
    <li class="list-group-item">Exames laboratoriais e de imagem</li>
  </ul>
</div>

<div style="margin-top: 255px">
	
	<img src="img/gatoEcachorro.jpg" class="img-responsive" alt="Responsive image">

</div>
