<div class= "container">
		


		<div class="container-fluid" style="width: 100%">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 			 <ol class="carousel-indicators">
   				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  				<li data-target="#myCarousel" data-slide-to="1"></li>
    			<li data-target="#myCarousel" data-slide-to="2"></li>
    			<li data-target="#myCarousel" data-slide-to="3"></li>
  			</ol>

  <!-- Wrapper for slides -->
  			<div class="carousel-inner" role="listbox">
    			<div class="item active">
    				<a href= "sobre">
      					<img src=".\img\Veterinaria.png" alt="Doge" width="100%" height=300px>
      				</a>

      				<div class="carousel-caption">
      					
      					<h3 style="text-align: center;"> Saiba mais</h3>
      					<p style="text-align: center;"> Clique para saber mais sobre as nossas clinicas</p>
      				</div>
    			</div>

    			<div class="item">
    				<a href ="especialidades">
      					<img src=".\img\veterinaria2.png" alt="Doutora" width="100%" height=300px>
      				</a>

      				<div class="carousel-caption">
      					
      					<h3 style="text-align: center;"> Qualidade no atentimento</h3>
      					<p style="text-align: center; "> Profissionais qualificados nas mais diversas especialidades</p>
      				</div>
    			</div>

    			<div class="item">
    				<a href ="servicos">
      					<img src=".\img\sickDog.png" alt="sick doge" width="100%" height=300px>
    				</a>

    				<div class="carousel-caption">
      					
      					<h3 style="text-align: center;"> Variedade de serviços</h3>
      					<p style="text-align: center;"> Confira aqui os serviços fornecidos em nossas clinicas</p>
      				</div>

    			</div>

    			<div class="item">
    				<a href="localizacao">
      					<img src=".\img\animals.png" alt="Fluffies" width="100%" height=300px>
    				</a>

    				<div class="carousel-caption">
      					
      					<h3 style="text-align: center;"> Mais perto de você!</h3>
      					<p style="text-align: center;"> Espaço amplo, na região metropolitana do Recife</p>
      				</div>

    			</div>
  			</div>

  <!-- Left and right controls -->
  			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    			<span class="sr-only">Previous</span>
  			</a>

  			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    			<span class="sr-only">Next</span>
  			</a>  
		</div>
		</div>